:root{
    --selected-color: deepskyblue;
    --box-shadow-color: #888;
}
.move-handler {
    position:absolute;
    left:-10px;
    top:-10px;
}

.settings-icon {
    position:absolute;
    right:-10px;
    top:-10px;
}
.size-handler {
    position:absolute;
    right: -10px;
    bottom: -10px;
}
.input-placeholder {
    width: auto;
    white-space: nowrap;
    border: 1px solid #EEE;
    padding: 1px;
}
.input-placeholder:hover{
    padding: 0px;
    border: 2px solid #888;
}
.input-placeholder.selected{
    border: 2px solid var(--selected-color);
    padding: 0px;
}
.draggable_item.selected{
    --box-shadow-color: var(--selected-color);
    border-color: var(--selected-color);
    background-color: rgba(0, 191, 255, 0.05);
}
#layout .container {
    margin-left: 20px;
}
#template_page{
    border:1px solid black;
    height: 600px;
}
.draggable_item{
    box-shadow: 1px 1px 1px var(--box-shadow-color);
}
#fields_list a.ui-draggable-disabled{
    box-shadow: inset 1px 1px 1px var(--box-shadow-color);
}
#element_menu{
    width:auto;
    position: absolute;
    display:none;
}