<template name="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">RPG Centre</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if currentUser}}
                    {{> navbar_logged_in}}
                {{else}}
                    {{> navbar_public}}
                {{/if}}
            </div>
        </div>
    </nav>
</template>

<template name="navbar_public">
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#registration-modal">Sign Up</a></li>
        {{> loginButton}}
    </ul>
    {{> registration}}
</template>

<template name="navbar_logged_in">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Campaigns</a></li>
        <li><a href="#">Characters</a></li>
        <li><a href="#">Monsters</a></li>
        <li><a href="#">Tools</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {{> userNavButton}}
    </ul>
</template>
